*{
    margin: 0px;
    padding: 0px;
}
body{
    border: black 1px;
    background-color: black;
}
.container{
    width: 900px;
    margin: 0 auto;
    height: 965px;
    background-color: white;
    border: 5px double black;
}
.primeras{
    background-color: rgb(96, 157, 160);
}
.segunda{
    background-color: rgb(240, 231, 140);
    padding: 7px;
}
.segunda p{
    background-color:rgb(250, 219, 4);
    border: crimson solid 2px;
    width: 155px;
}
.tercera{
    background-color: rgb(171, 217, 230);
    padding: 7px;
    height: 25px;
}
.tercera p{
    background-color:rgb(250, 219, 4);
    border: crimson solid 2px;
    width: 155px;
    float: left;
    margin-right: 15px;
}
.cuarta{
    background-color: rgb(171, 217, 230);
    padding: 7px;
    height: 25px;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
}
.cuarta p{
    background-color:rgb(250, 219, 4);
    border: crimson solid 2px;
    width: 110px;
    float: left;
    margin-right: 15px;
}
.quinta{
    background-color: rgb(171, 217, 230);
    padding: 7px;
    height: 25px;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
}
.quinta p{
    background-color:rgb(250, 219, 4);
    border: crimson solid 2px;
    float: left;
    margin-right: 15px;
}
.sexta{
    background-color: rgb(119, 136, 152);
    padding: 10px;
    height: 25px;
    margin: 2px;
}
.septima{
    background-color: rgb(235, 231, 61);
    padding: 10px;
    height: 25px;
    margin: 2px;
}
.septima p{
    background-color:rgb(250, 219, 4);
    border: crimson solid 2px;
    float: right;
    margin-right: 15px;
}
.octava{
    background-color: rgb(162, 250, 166);
    padding: 10px;
    height: 25px;
    margin: 2px;
}
.octava p{
    background-color:rgb(250, 219, 4);
    border: crimson solid 2px;
    float: right;
    margin-right: 15px;
    width: 130px;
}
.novena{
    background-color: rgb(218, 178, 241);
    padding: 10px;
    height: 25px;
    margin: 2px;
}
.novena p{
    background-color:rgb(250, 219, 4);
    border: crimson solid 2px;
    float: right;
    margin-right: 15px;
    width: 130px;
}
.decima{
    background-color: rgb(162, 250, 166);
    padding: 10px;
    height: 25px;
    margin: 2px;
}
.decima p{
    background-color:rgb(250, 219, 4);
    border: crimson solid 2px;
    margin-right: 15px;
    display: inline-block;
    width: 130px;
}
.once{
    background-color: rgb(162, 250, 166);
    padding: 10px;
    height: 25px;
    margin: 2px;
}
.once p{
    background-color:rgb(250, 219, 4);
    border: crimson solid 2px;
    margin-right: 15px;
    display: inline-block;
    width: 130px;
}
.doce{
    background-color: rgb(162, 250, 166);
    padding: 10px;
    height: 25px;
    margin: 2px;
}
.doce p{
    background-color:rgb(250, 219, 4);
    border: crimson solid 2px;
    margin-right: 15px;
    display: inline-block;
    width: 130px;
}
.trece{
    background-color: rgb(162, 250, 166);
    padding: 10px;
    height: 25px;
    margin: 2px;
}
.trece p{
    background-color:rgb(250, 219, 4);
    border: crimson solid 2px;
    margin-right: 15px;
    display: inline-block;
    width: 130px;
}
.catorce{
    background-color: rgb(101, 205, 170);
    padding: 10px;
    height: 25px;
    margin: 2px;
}
.catorce p{
    background-color:white;
    margin-left: 325px;
    width: 190px;
    vertical-align: center;
    text-align: center;
    margin-top: 2.5px;
}
.quince{
    background-color: rgb(138, 225, 235);
    padding: 10px;
    height: 25px;
    margin: 2px;
    align-items: center;
}
.quince p{
    background-color:rgb(1, 255, 255);
    border: black solid 2px;
    display: inline-block;
    text-align: center;
    width: 180px;
}
.dieciseis{
    background-color: rgb(138, 225, 235);
    padding: 10px;
    height: 25px;
    margin: 2px;
    align-items: center;
}
.dieciseis p{
    background-color:rgb(1, 255, 255);
    border: black solid 2px;
    display: inline-block;
    text-align: center;
    width: 180px;
}
.diecisiete{
    background-color: rgb(94, 158, 160);
    height: 40px;
    margin: 2px;
    padding: 8px;
}
.diecisiete p{
    background-color:rgb(185, 133, 11);
    border: white solid 1px;
    display: block;
    width: 875px;
    height: 15px;
    margin-bottom: 4px;
}
.dieciocho{
    background-color: rgb(94, 158, 160);
    height: 45px;
    margin: 2px;
    padding: 8px;
    padding-top: 4px;
}
.dieciocho p{
    background-color:rgb(185, 133, 11);
    border: white solid 1px;
    display: block;
    width: 250px;
    height: 15px;
    margin-bottom: 4px;
}
.dieciochocaja{
    background-color: rgb(25, 154, 211);
    border: white solid 1px;
    width: 257px;
    height: 40px;
    padding-bottom: 1.5px;
    padding-top: 2.5px;
    padding-left: 2.5px;
}
.diecinueve{
    background-color: rgb(94, 158, 160);
    height: 45px;
    margin: 2px;
    padding: 8px;
    padding-top: 4px;
}
.diecinueve p{
    background-color:rgb(185, 133, 11);
    border: white solid 1px;
    display: block;
    width: 250px;
    height: 15px;
    margin-bottom: 4px;
}
.diecinuevecaja{
    background-color: rgb(25, 154, 211);
    border: white solid 1px;
    width: 257px;
    height: 40px;
    padding-bottom: 1.5px;
    padding-top: 2.5px;
    padding-left: 2.5px;
    float: right;
}
.veinte{
    background-color: black;
    height: 60px;
    margin: 2px;
    padding: 8px;
    
}
.veinte p{
    background-color:rgb(189, 183, 107);
    border: white solid 1px;
    display: block;
    margin-bottom: 4px;
    display: inline-block;
}



