*{
    margin: 0px;
    padding: 0px;
}
body{
    border: black 1px;
}
.container{
    width: 900px;
    margin: 0 auto;
    height: 600px;
    background-color: white;
    border: 2px double black;
}
.primeras{
    background-color: rgb(96, 157, 160);
}
.segunda{
    background-color: rgb(240, 231, 140);
    padding: 7px;
}
.segunda p{
    background-color:rgb(250, 219, 4);
    border: crimson solid 2px;
    width: 155px;
}
.tercera{
    background-color: rgb(171, 217, 230);
    padding: 7px;
    height: 25px;
}
.tercera p{
    background-color:rgb(250, 219, 4);
    border: crimson solid 2px;
    width: 155px;
    float: left;
    margin-right: 15px;
}
.cuarta{
    background-color: rgb(171, 217, 230);
    padding: 7px;
    height: 25px;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
}
.cuarta p{
    background-color:rgb(250, 219, 4);
    border: crimson solid 2px;
    width: 110px;
    float: left;
    margin-right: 15px;
}
.quinta{
    background-color: rgb(171, 217, 230);
    padding: 7px;
    height: 25px;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
}
.quinta p{
    background-color:rgb(250, 219, 4);
    border: crimson solid 2px;
    float: left;
    margin-right: 15px;
}
.sexta{
    background-color: rgb(119, 136, 152);
    padding: 10px;
    height: 25px;
    margin: 2px;
}
.septima{
    background-color: rgb(235, 231, 61);
    padding: 10px;
    height: 25px;
    margin: 2px;
}
.septima p{
    background-color:rgb(250, 219, 4);
    border: crimson solid 2px;
    float: right;
    margin-right: 15px;
}
.octava{
    background-color: rgb(162, 250, 166);
    padding: 10px;
    height: 25px;
    margin: 2px;
}
.octava p{
    background-color:rgb(250, 219, 4);
    border: crimson solid 2px;
    float: right;
    margin-right: 15px;
}
.novena{
    background-color: rgb(218, 178, 241);
    padding: 10px;
    height: 25px;
    margin: 2px;
}
.novena p{
    background-color:rgb(250, 219, 4);
    border: crimson solid 2px;
    float: right;
    margin-right: 15px;
}
.decima{
    background-color: rgb(162, 250, 166);
    padding: 10px;
    height: 25px;
    margin: 2px;
}
.decima p{
    background-color:rgb(250, 219, 4);
    border: crimson solid 2px;
    margin-right: 15px;
    display: inline-block;
}

